<!-- TODO: Language + routes -->
<div class="ws-container ws-cards">
  <app-card
    title="Gestion des équipes"
    routerLink=""
    coverImgSrc="assets/images/dashboard-cards/barbarian-king/barbarian_league.png"
    popImgSrc="assets/images/dashboard-cards/barbarian-king/barbarian_champion.png"
  ></app-card>
  <app-card
    title="Gestion des images"
    routerLink=""
    coverImgSrc="assets/images/dashboard-cards/archer-queen/archer_league.png"
    popImgSrc="assets/images/dashboard-cards/archer-queen/archer_champion.png"
  ></app-card>
  <app-card
    title="Gestion des comptes"
    routerLink=""
    coverImgSrc="assets/images/dashboard-cards/grand-warden/warden_league.png"
    popImgSrc="assets/images/dashboard-cards/grand-warden/warden_champion.png"
  ></app-card>
  <app-card
    title="Configuration de l'overlay"
    routerLink=""
    coverImgSrc="assets/images/dashboard-cards/royal-champion/champion_league.png"
    popImgSrc="assets/images/dashboard-cards/royal-champion/champion_dragon.png"
  ></app-card>
</div>
