<!-- TODO: Language -->
<div #overlayConfig class="ws-overlay">
  <div
    class="ws-overlay-container"
    [style.width.px]="containerWidth"
    [style.height.px]="containerHeight"
    [style.backgroundColor]="backgroundColor"
    [style.borderColor]="borderColor"
  >
    <app-logo
      *ngIf="isLogo"
      [borderColor]="borderColor"
      [draggable]="logoDraggable"
      [(locationX)]="logoLocation.x"
      [(locationY)]="logoLocation.y"
      (modified)="onModified($event)"
      [ratio]="widthRatio"
      [size]="overlaySetting!.logoSize"
    >
    </app-logo>
    <app-clan-name
      *ngIf="isClanName"
      [borderColor]="borderColor"
      [color]="textColor"
      [font]="font"
      [draggable]="clanNameDraggable"
      [(locationX)]="clanNameLocation.x"
      [(locationY)]="clanNameLocation.y"
      (modified)="onModified($event)"
      [ratio]="widthRatio"
      [size]="overlaySetting!.clanNameSize"
    ></app-clan-name>
    <app-stars
      *ngIf="isTotalStars"
      [borderColor]="borderColor"
      [color]="textColor"
      [font]="font"
      [draggable]="totalStarsDraggable"
      [(locationX)]="totalStarsLocation.x"
      [(locationY)]="totalStarsLocation.y"
      (modified)="onModified($event)"
      [ratio]="widthRatio"
      [size]="overlaySetting!.totalStarsSize"
    ></app-stars>
    <app-percentage
      *ngIf="isTotalPercentage"
      [borderColor]="borderColor"
      [color]="textColor"
      [font]="font"
      [draggable]="totalPercentageDraggable"
      [(locationX)]="totalPercentageLocation.x"
      [(locationY)]="totalPercentageLocation.y"
      (modified)="onModified($event)"
      [ratio]="widthRatio"
      [size]="overlaySetting!.totalPercentageSize"
    ></app-percentage>
    <app-average
      *ngIf="isAverageDuration"
      [borderColor]="borderColor"
      [color]="textColor"
      [font]="font"
      [draggable]="averageDurationDraggable"
      [(locationX)]="averageDurationLocation.x"
      [(locationY)]="averageDurationLocation.y"
      (modified)="onModified($event)"
      [ratio]="widthRatio"
      [size]="overlaySetting!.averageDurationSize"
    ></app-average>
    <app-players
      *ngIf="isPlayerDetails && detailsVisible"
      [borderColor]="borderColor"
      [color]="textColor"
      [font]="font"
      [draggable]="playerDetailsDraggable"
      [(locationX)]="playerDetailsLocation.x"
      [(locationY)]="playerDetailsLocation.y"
      (modified)="onModified($event)"
      [ratio]="widthRatio"
      [size]="overlaySetting!.playerDetailsSize"
    ></app-players>
    <app-equipments
      *ngIf="isHeroesEquipments && equipmentsVisible"
      [borderColor]="borderColor"
      [color]="textColor"
      [font]="font"
      [draggable]="heroesEquipmentsDraggable && !isPlayerDetails"
      [(locationX)]="heroesEquipmentsLocation.x"
      [(locationY)]="heroesEquipmentsLocation.y"
      (modified)="onModified($event)"
      [ratio]="widthRatio"
      [size]="overlaySetting!.heroesEquipmentsSize"
    ></app-equipments>
    <app-last-attack
      *ngIf="isLastAttackToWin"
      [borderColor]="borderColor"
      [color]="textColor"
      [font]="font"
      [draggable]="lastAttackToWinDraggable"
      [(locationX)]="lastAttackToWinLocation.x"
      [(locationY)]="lastAttackToWinLocation.y"
      (modified)="onModified($event)"
      [ratio]="widthRatio"
      [size]="overlaySetting!.lastAttackToWinSize"
    ></app-last-attack>
    <ng-container *ngFor="let image of images">
      <app-image
        *ngIf="image.element.isUsed"
        [borderColor]="borderColor"
        [draggable]="imageDraggable"
        [height]="image.element.height"
        [(locationX)]="image.element.location.x"
        [(locationY)]="image.element.location.y"
        (modified)="onModified($event)"
        [url]="image.url"
        [ratio]="widthRatio"
        [width]="image.element.width"
      ></app-image>
    </ng-container>
  </div>
</div>
