.ws-overlay {
  width: 100%;

  .ws-overlay-container {
    position: relative;

    margin: 0 auto;

    border: 1px solid;

    overflow: hidden;

    > * {
      display: inline-block;
      position: absolute;
    }
  }
}
