<footer class="ws-footer">
  <div class="ws-container">
    <div class="ws-footer-content">
      <div class="ws-item">
        <h3>WarStreamer</h3>
        <ul>
          <li>
            <a href="#">{{ "shared.footer.premium" | transloco }}</a>
          </li>
          <li>
            <a href="#">{{ "shared.footer.discord-server" | transloco }}</a>
          </li>
        </ul>
      </div>
      <div class="ws-item">
        <h3>{{ "shared.footer.services" | transloco }}</h3>
        <ul>
          <li>
            <a href="#">
              {{ "shared.footer.overlays" | transloco }}
            </a>
          </li>
          <li>
            <a href="#">
              {{ "shared.footer.certified-streamers" | transloco }}
            </a>
          </li>
        </ul>
      </div>
      <div class="ws-item">
        <h3>{{ "shared.footer.about" | transloco }}</h3>
        <ul>
          <li>
            <a href="#">
              {{ "shared.footer.terms-of-service" | transloco }}
            </a>
          </li>
          <li>
            <a href="#">
              {{ "shared.footer.privacy-policy" | transloco }}
            </a>
          </li>
        </ul>
      </div>
      <div class="ws-social-items">
        <div class="ws-socials">
          <a href="#">
            <i-bs name="discord"></i-bs>
          </a>
          <a href="#">
            <i-bs name="twitter"></i-bs>
          </a>
        </div>
        <p class="ws-copyright">Copyright © 2024</p>
      </div>
    </div>
  </div>
</footer>
